In [10]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql+psycopg2://postgres:DataisD0pe12@localhost:5432/HW_test')
connection = engine.connect()
sql = 'SELECT * FROM public.test_view'
data = pd.read_sql(sql=sql,con=connection)
data.head()

   Count Last Name
0    226      Baba
1    223    Gelosh
2    223     Coorg
3    222   Sudbeck
4    222    Farris